body {
    background-image: url("../illustrations/parchment3.jpg");
    font-size: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    text-shadow: 0.5px 0px 0.5px;
}

a:hover {
    text-shadow: 1px 1px 0.5px;
}

@font-face {
    font-family: AmericanTypewriter;
    src: url("../fonts/american-typewriter.ttf") format("truetype");
}

#container {
    width: 1000px;
    position: relative;
    margin: 0px auto;
    margin-top: 40px;
    padding: 20px;
    overflow: visible;
    background-image: url("../illustrations/parchment3.jpg");
    z-index: 0;
}


.page {
    width: 100%;
    position: relative;
}

.horizbar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fullpageimage {
    width: 100%;
}

.absoluteimage {
    position: absolute;
}

.text {
    font-family: AmericanTypewriter, Helvetica, Arial, sans-serif;
    position: absolute;
    color: #486266;
    z-index: 4
}

.scrolltext {
    font-family: AmericanTypewriter, Helvetica, Arial, sans-serif;
    position: relative;
    color: #486266;
    z-index: 4;
}

::-webkit-scrollbar {
    width: 5px;
    z-index: 2;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: #486266;
    border-radius: 2.5px;
}

#headermenu {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 70%;
}

.toptab {
    font-size: 1.0em;
    display: inline-block;
    position: relative;
    text-align: center;
    font-style: italic;
    margin-left: 1.0em;
}

#story {
    padding-top: 135%;
    box-sizing: border-box;
}

#storyheader {
    font-size: 2.5em;
    top: 13%;
    left: 7%;
}

#storybody {
    position: absolute;
    font-size: 1.0em;
    top: 19%;
    left: 8%;
    width: 25%;
    height: 45%;
    overflow-y: auto;
    z-index: 2;
}

#tiger {
    width: 27%;
    transform: rotate(-25deg);
    top: 0px;
    left: 25%;
    z-index: 3;
}

#smilehug {
    width: 94%;
    top: 10%;
    left: 3%;
    z-index: 1;
}

#frond1 {
    width: 17%;
    transform: rotate(25deg);
    top: 65%;
    left: 43%;
    z-index: 3;
}

#frond3 {
    width: 25%;
    top: 60%;
    left: 70%;
    z-index: 3;
}

#chariot {
    left: 5%;
    width: 30%;
    top: 70%;
}

#tajmahal {
    width: 65%;
    top: 70%;
    left: 35%;
}

#motorcycle {
    width: 20%;
    top: 90%;
    left: 4%;
}

#details {
}

#detailscontainer {
    position: absolute;
    top: 3.65%;
    left: 5%;
    width: 90%;
    height: 40%;
    background-color: #FFFFFFBB;
}

#detailsnav {
    position: relative;
    top: 4%;
    left: 5%;
    width: 90%;
    height: 10%;
}

.tab {
    font-size: 1.6em;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 32%;
    font-style: italic;
}

#venuebutton {
}

#travelbutton {
}

#lodgingbutton{
}

#detailscontent {
    position: relative;
    left: 5%;
    width: 90%;
    height: 83%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #8c8b8b;
    margin: 2% 0;
    padding: 0;
}

.detailsboxtext {
    position: absolute;
    left: 0%;
    top: 5%;
    height: 90%;
    width: 55%;
    font-size: 1.0em;
    margin-right: 4%;
    overflow: auto;
}

.clickable:hover {
    text-shadow: 1px 1px 1px;
    cursor: pointer;
}

.detailsheader {
    position: relative;
    font-size: 1.7em;
    display: block;
    margin-bottom: 1%;
}

.detailstext {
    position: relative;
    display: block;
    width: 93%;
    left: 5%;
    margin-bottom: 5%;
}

#map_wrapper {
    position: absolute;
    left: 58%;
    top: 5%;
    height: 85%;
    width: 40%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#thingstodo {
    padding-top: 100%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#todoheader {
    top: 61%;
    left: 10%;
    font-size: 2.5em;
}

#todonav {
    position: absolute;
    top: 68%;
    left: 10%;
    width: 21%;
    border-right: 2px solid white;
    z-index: 5;
}

#nybutton {
    margin-bottom: 1.0em;
}

#libutton {
    margin-bottom: 1.0em;
}

.todotab {
    font-size: 1.3em;
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    font-style: italic;
}

#todobody {
    position: absolute;
    font-size: 1.0em;
    top: 68%;
    left: 35%;
    width: 54%;
    height: 27%;
    overflow-y: auto;
    z-index: 4;
}

.todosub {
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    text-decoration: underline;
}

#rings {
    left: 0%;
    top: 0%;
    width: 100%;
    z-index: 3;
}

#whitman {
    width: 15%;
    top: 48%;
    left: 85%;
    z-index: 3;
}

#nassau {
    width: 60%;
    top: 80%;
    left: 0%;
    z-index: 3;
}

#horizpanel1 {
    width: 94%;
    left: 3%;
    top: 55%;
    z-index: 2;
}

#vertbar {
    height: 140%;
    width: 80px;
    z-index: 0;
    left: 75%;
    top: 25%;
    background-image: url("../illustrations/vertbar.png");
}

#bridalparty {
    padding-top: 100%;
    box-sizing: border-box;
}

#carolyn {
    left: 0%;
    top: 0%;
    width: 100%;
}

#pine1 {
    left: 60%;
    top: 2%;
    width: 20%;
    z-index: 3;
}

#flower2 {
    right: -3%;
    top: -2%;
    width: 20%;
    z-index: 3;
}

#taipei {
    transform: rotate(10deg);
    right: 5%;
    top: 45%;
    width: 15%;
    z-index: 3;
}

#groomsmen {
    padding-top: 140%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#star {
    top: 10%;
    width: 30%;
    left: 0%;
    z-index: 3;
}

#frond33 {
    transform: scaleX(-1) rotate(-20deg);
    left: 35%;
    width: 30%;
    top: 0%;
    z-index: 3;
}

#flower3 {
    left: 20%;
    width: 10%;
    top: 35%;
    z-index: 3;
}

#berkeley {
    transform: rotate(-10deg);
    left: 7%;
    top: 33%;
    width: 15%;
    z-index: 3;
}

#matthew {
    width: 85%;
    right: 0%;
    top: 12%;
    z-index: 2;
}

#lincoln {
    width: 50%;
    transform: rotate(-10deg);
    left: 5%;
    top: -13%;
    z-index: 3;
}

#terracotta {
    width: 25%;
    left: 0%;
    top: 80%;
    z-index: 3;
}

#lexington {
    width: 50%;
    left: 35%;
    top: 95%;
    z-index: 3;
}

#palms {
    transform: scaleX(-1);
    width: 17%;
    right: 0%;
    top: 90%;
    z-index: 3;
}

#todo {
}

#registry {
    padding-top: 140%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#flower1 {
    top: -10%;
    width: 25%;
    right: 0%;
    z-index: 3;
}

#pine2 {
    width: 25%;
    left: 0%;
    top: 3%;
    z-index: 3;
}

#jaipur {
    width: 90%;
    left: 5%;
    top: 0%;
    z-index: 3;
}

#handhug {
    width: 100%;
    left: 0%;
    top: 46%;
    z-index: 2;
}

#frond333 {
    width: 25%;
    top: 40%;
    right: 0%;
    z-index: 3;
}

#goldengate {
    width: 55%;
    left: 10%;
    top: 92%;
    z-index: 3;
}

#frond11 {
    width: 30%;
    transform: rotate(-25deg);
    top: 90%;
    right: 0%;
    z-index: 3;
}

#thanks {
    padding-top: 120%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#shakespeare {
    left: 35%;
    width: 50%;
    top: 0%;
    z-index: 3;
}

#infantjesus {
    left: 0%;
    top: 10%;
    width: 43%;
    transform: rotate(-10deg);
    z-index: 3;
}

#oldfield {
    left: 0%;
    top: 47%;
    width: 43%;
    z-index: 3;
}

#hands {
    right: 0%;
    width: 55%;
    top: 7%;
    z-index: 2;
}

#frond111 {
    transform: rotate(10deg);
    width: 30%;
    top: 80%;
    left: 0%;
    z-index: 3;
}

#bear {
    right: 0%;
    width: 18%;
    transform: rotate(20deg);
    top: 75%;
    z-index: 3;
}

#horizpanel2 {
    width: 94%;
    left: 3%;
    top: 76%;
    z-index: 2;
}

#thanksheader {
    top: 80%;
    left: 20%;
    font-size: 2.5vw;
}

#thanksbody {
    position: absolute;
    font-size: 1.0vw;
    top: 85%;
    left: 30%;
    width: 57%;
    height: 15%;
    overflow-y: auto;
    z-index: 4;
}

@media only screen and (max-width: 1055px) {
    #container {
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 1000px) {
    .toptab {
        font-size: 1.4vw;
    }
}

@media only screen and (max-width: 800px) {

    .toptab {
        font-size: 1.5vw;
    }

    #storyheader {
        font-size: 4.0vw;
    }
    #storybody {
        font-size: 2.0vw;
    }

    #todoheader {
        font-size: 4.0vw;
    }

    .todotab {
        font-size: 2.1vw;
    }

    .detailsboxtext {
        width: 100%;
    }

    #map_wrapper {
        visibility: hidden;
    }

    .tab {
        font-size: 2.5vw;
    }

    .detailsboxtext {
        font-size: 2.5vw;
    }

    #todobody {
        font-size: 2.0vw;
    }

}

@media only screen and (max-width: 600px) {
    .toptab {
        font-size: 1.7vw;
    }

}

